<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://www.relystate.com/">relystate</a>
  is a real estate data provider. Our goal at <a href="http://www.relystate.com/">relystate</a> is to assist you with making informed real estate purchases.
</p>