<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  At <a href="http://www.relystate.com/">relystate</a>
  we deliver the hottest real estate news, reliable data and other insights. Our goal at <a href="http://www.relystate.com/">relystate</a> is to keep you informed whether you're a real estate sales professional, a potential or current property owner, or if you just want to stay up to speed with all things real estate!
</p>