<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on how to use relystate.com for your benefit at
  <a href="http://www.relystate.com/help">relystate usage</a>.
  If you would like to contact us directly, you can do so
  <a href="http://www.relystate.com/contact">here</a>.
</p>