<div class="center hero-unit">
  <h1>welcome to relystate.com</h1>

  <h2>
    Start living the high life. Sign up with
    <a href="http://www.relystate.com/">relystate</a>
    and get flying.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
